/* *{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

.header{
  padding: 37px 43px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 544px;
  background: transparent linear-gradient(248deg, #DC1866 0%, #FF9226 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  align-items: center;
}

.header-options{
  width: 100%;
  z-index: 2;
  position: fixed;
  transition: all .5s;
  align-items: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: 700;
}

.logo_mindthegraph{
  width: 135px;
  height: 45px;
  max-width: 100%;
  max-height: 100%;
  background: transparent url('img/logo_mindthegraph.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.buttons-container{
  padding: 10px 20px 10px 10px;
  text-align: right;
}

.header-links{
  text-align: left;
  font-family: 'Lato' bold;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;  
  font-size: 1  px;
  margin-left: 30px;
  text-decoration: none;  
}

.header-login{
  text-align: left;
  font-family: 'Lato' bold;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;  
  font-size: 1  px;
  margin-left: 30px;
  text-decoration: none;
  border-radius: 35px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  margin: 0 11px 0 22px;
  padding: 6px 16px;
  cursor: pointer; 
}

.header-signup{
  text-align: left;
  font-family: 'Lato' bold;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;  
  font-size: 1  px;
  margin-left: 15px;
  text-decoration: none;
  border-radius: 35px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #3f51b5; 
  margin: 0 0 22px;
  padding: 6px 16px;
  border-right-width: 2px;
  padding-right: 12px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .items-form input[type=text]{
    width: 100%;
  }

  .conteudo-single{width: 100%;}
}

@media (min-width: 1280px){
.buttons-container {
    flex-grow: 0;
    max-width: 83.333333%;
    flex-basis: 83.333333%;
  }
}

  
.center{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.main{
  padding: 40px 0;
  width: 100%;
  background-color: blueviolet;
  background-image: url('https://cursos.dankicode.com/app/Views/public/images/home/banner-home.png');
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu h3{
  color: white;
}

.menu a{
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 3px 8px;
  border-radius: 5px;
}

.form{
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.form h2{
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: normal;
}

.items-form{
  margin:0 auto;
  max-width: 540px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.items-form input[type=text]{
  width: 48%;
  height: 30px;
  margin: 8px 0px;
  padding-left: 10px;
}

.items-form input[type=submit]{
  width: 100%;
  height: 40px;
  background-color: #e7426b;
  cursor: pointer;
  color:white;
  border: 0;
  font-size: 19px;
}

.conteudo-single{
  margin-top: 40px;
  width: 50%;
  padding: 8px 30px;
}

